<!-- <h1>Pictures (<%= @pictures.length %>)</h1>
<%= link_to "New Picture", "/pictures/new" %>

<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
<% end %> -->

<header class="index_header">

  <div class="logo">
    <%= image_tag ("photogur-logo-01.svg")%>
  </div>

  <div class="button">
    <a href="#">View Gallery</a>
  </div>
</div>
